body{
    background-color: #DDDFD4;
  }
  label {
    font: 1rem 'Fira Sans', sans-serif;
    margin: 1rem;
    margin-left: .4rem;
}

input {
    margin: 1rem;
    margin-right: 0px;
}
form{
    display: inline-block;
    margin: 1rem;
    border: 1px solid;
    width: fit-content;
    padding: 1rem;
    width: 60%;
    text-align: center;
}

