body{
    text-align: center;
    background-color: #DDDFD4;
}
label {
    font: 1rem 'Fira Sans', sans-serif;
    margin: 1rem;
    margin-left: .4rem;
}

input {
    margin: 1rem;
    margin-right: 0px;
}
form{
    display: inline-block;
    margin: 1rem;
    border: 1px solid;
    width: fit-content;
    padding: 1rem;
    width: 60%;
    text-align: center;
}



/* CSS */
.button2 {
  background-color: #2B7A78;
  border-radius: 8px;
  border-width: 0;
  color: #DDDFD4;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  margin: 0;
  padding: 10px 12px;
  text-align: center;
  transition: all 200ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}