body{
  background-color: #DDDFD4;
}
.vjezba{
  background-color: #347936;
  
}
.prikazaniZadaci{
  background-color: #73926C;
 
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    margin: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 100%;
  }
  .naslov{
    color: #17252A;
    padding-top: 1rem;
  }
  ul{
    display: block;
  }
  .odabirZadatkaElement {
    background-color:#347936;
    color: white;
    padding: 0.5rem;
    height: fit-content;
    width: fit-content;
    float: left;
    margin: 5px;
  }

  #odabirVjezbe {
    box-sizing: border-box;
    padding: 10px;
    text-align: center;
    background: #D2CCB1;
    color: white;
    width: 33%;
    float: left;
    height: 500px;
    top: 100px;

    max-width: 1200px;
    margin: 0 auto;
   
  }
 
  .odabirVjezbeElement{
    box-sizing: border-box;
    text-align: center;
    background-color: #73926C;
    color: white;
    padding: 0;
    float: left;
    width: 100%;
  }

  #gridZaGrafove{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
  }


@media screen and (max-width: 799px) {
  #meni{
    height: 100px;
    padding: 0px;
    text-align: center;
    background: #DDDFD4;
    color: white;
    border-bottom: 1px solid #DEF2F1;
   }
   li{
     display: inline;
     float: left;
     padding: 1rem;
   }

    #odabirVjezbe {
        box-sizing: border-box;
        padding: 10px;
        text-align: center;
        background:#D2CCB1;
        color: white;
        width: 100%;
        
        height: 500px;
        top: 100px;
    
        max-width: 1200px;
        margin: 0 auto;
      }
    .odabirZadatkaElement {
        background-color:#347936;
        color: white;
        padding: 0.5rem;
        height: fit-content;
        width: fit-content;
        float: left;
        margin: 5px;
      }
     
      .odabirVjezbeElement{
        box-sizing: border-box;
        text-align: center;
        background-color: #73926C;
        color: white;
        padding: 0;
        float: left;
        width: 100%;
      }
    
      #gridZaGrafove{
         width: 100%;
          clear: both;
          display: grid;
          grid-template-columns: repeat(1, 1fr);
      }

}

@media screen and (min-width: 800px) {
  #meni{
    height: 100px;
    padding: 0px;
    text-align: center;
    background: #DDDFD4;
    color: white;
    border-bottom: 1px solid #DEF2F1;
   }
   li{
     display: inline;
     float: left;
     padding: 1rem;
   }
}

@media screen and (max-width: 500px) {
  #meni{
    text-align: center;
    background:  #DDDFD4;
    color: white;
    border-bottom: 1px solid#DEF2F1;
    overflow: hidden;
    padding: 0;
    height: 100px;
   }
   ul{
     padding: 0;
     margin: 0;
   }
   li{
    display: inline;
    float: left;
    padding:0;
    width: 100%;
  }
    #grupelnk {
      display: inline-block;
      box-sizing: border-box;
      text-align: center;
      width: 100%;
     }
     #vjezbelnk {
      display: inline-block;
      box-sizing: border-box;
      text-align: center;
      width: 100%;
     }
    }