* {
    box-sizing: border-box;
  }
   html, body{
    height: 100%;
    padding: 0px;
    margin: 0px;
    top: 0px;
    background-color: #DDDFD4;
  }
  ul{ 
    display: block;
  }
  .gridElement {
    background-color: #17252A;;
    color: white;
    padding: 1rem;
    height: fit-content;
  }
  p{
    margin: 0;
  }
  .naslov{
    color: #17252A;
    padding-top: 1rem;
  }

  @media screen and (min-width: 500px) and (max-width: 799px) {
    #meni{
      height: 100px;
      padding: 0px;
      text-align: center;
      background: #DDDFD4;
      color: white;
      border-bottom: 1px solid #DEF2F1;
     }
     li{
       display: inline;
       float: left;
       padding: 0;
     }
     #grupelnk{
       margin-right: 1rem;
     }
     h3{
       margin-top: 0;
       padding-top: 0;
       background-color: #2B7A78;
     }
     #grupe{
      width: 99%;
       flex-direction: column;
       background: #3FB0AC;
       text-align: center;
       height:fit-content;
       border-bottom: 1px solid gray;
     }
    #studenti{
      box-sizing: border-box;
      text-align: center;
      background: #2B7A78;
      color: white;
      width: 99%;
      display: grid;
      grid-gap: 1rem;
      padding: 30px;
  
      grid-template-columns: repeat(2, 1fr);
    }
  #tabelaGrupe{
    font-family: sans-serif;
    text-align: center;
    border-collapse: collapse;
}
th,td{
    border: 1px solid black;
    padding: 4px 8px;
}
  }

  @media screen and (min-width: 800px) {
  #meni{
 
    margin: 0px;
    text-align: center;
      background: #DDDFD4;
      color: white;
      border-bottom: 1px solid #DEF2F1;
      height: 100px;
  }

   li{
     display: inline;
     float: left;
     padding: 0rem;
   }
   #grupelnk{
    margin-right: 1rem;
  }
   
#grupe{ 
    box-sizing: border-box;
    padding: 60px;
    padding-top: 1rem;
    text-align: center;
    background: #3FB0AC;
    color: white;
    float: right;
    width: 40%;
    height: 500px;
    top: 100px;
    border-left: 1px solid #DEF2F1;
    border-bottom: 1px solid #DEF2F1;
}
#studenti{
    box-sizing: border-box;
    padding: 30px;
    text-align: center;
    background: #2B7A78;
    color: white;
    float: left;
    width: 60%;
    height: 500px;
    top: 100px;

    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    border-bottom: 1px solid #DEF2F1;
  }
  #tabelaGrupe{
    font-family: sans-serif;
    text-align: center;
    border-collapse: collapse;
}
th,td{
    border: 1px solid black;
    padding: 4px 8px;
}

}

  @media screen and (max-width: 500px) {
    #meni{
      text-align: center;
      background:  #DDDFD4;
      color: white;
      border-bottom: 1px solid#DEF2F1;
      overflow: hidden;
      padding: 0;
      height: 100px;
     }
     ul{
       padding: 0;
       margin: 0;
     }
     li{
      display: inline;
      float: left;
      padding:0;
      width: 100%;
    }
      #grupelnk {
        display: inline-block;
        box-sizing: border-box;
        text-align: center;
        width: 100%;
       }
       #vjezbelnk {
        display: inline-block;
        box-sizing: border-box;
        text-align: center;
        width: 100%;
       }
     
     #grupe{
       flex-direction: column;
       background: #3FB0AC;
       text-align: center;
       height: fit-content;
       width: 99%;
       border-bottom: 1px solid gray;
     }
    #studenti{
      box-sizing: border-box;
      text-align: center;
      background: #2B7A78;
      color: white;
      width: 99%;
      margin: 0 auto;
      padding: 30px;
      display: grid;
      grid-gap: 1rem;
      grid-template-columns: repeat(1, 1fr);
     
  }
  #tabelaGrupe{
    font-family: sans-serif;
    text-align: center;
    border-collapse: collapse;
}
  table, th, td, tr{
    display: block;
  }
 th, td{
  border: 1px solid black;
  padding: 4px 8px;
 }
  td:not(td:first-child), th:not(th:first-child) {
    display: none;
  }

  }