body{
 text-align: center;
 background-color: #dddfd4;
}

form{
    display: inline-block;
    margin: 1rem;
    border: 1px solid;
    width: fit-content;
    padding: 1rem;
    width: 60%;
    text-align: center;
}

label{
    margin: 1rem;
}

#odabir_vjezbe, #odabir_zadatka, #odabir_verzije, button, #bez_gresaka{
     margin: .5rem;
}

textarea{
    width: 70%;
    height: 100px;
}
.button {
    background-color: #2B7A78;
    border-radius: 8px;
    border-width: 0;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    margin: 0;
    padding: 10px 12px;
    text-align: center;
    transition: all 200ms;
    vertical-align: baseline;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }

@media screen and  (max-width: 799px) {
    textarea{
        width: 70%;
        height: 70px;
    }
}
